<h1 class="welcome_title">memeME</h1>
<div class="home_page">
<h2>Welcome to memeME: the social meme creator</h2>
<% if current_user %>
<h4>Hey, <%= current_user.username %></h4><br>
<p><%= link_to 'logout', logout_path, method: :delete %>
<% else %>
<ul>
  <li>
    <h4><%= link_to 'LOGIN', new_session_path %></h4>
  </li>
  <li>
    <h4><%= link_to 'SIGN UP', new_user_path %></h4>
  </li>
</ul>
<% end %>
<br>
<button class="browse"><%= link_to 'BROWSE CATEGORIES', categories_path %></button>
</div>
