<div class="login_form"
<h1>Login</h1>
<%= form_tag sessions_path, method: :post do %>
UserName: <%= text_field_tag :username %>
Password: <%= password_field_tag :password %>
<%= submit_tag "Log Yourself In" %>
<% end %>
<%= link_to "BACK", :back %><br>
<%= link_to "HOME", root_path %>
</div>
