<div id="login-form" class="login_form">
<h1>Login</h1>
  <%= bootstrap_form_tag url: '/sessions' do |f| %>
    <%= f.text_field :username%>
    <%= f.password_field :password%>
    <%= f.submit "Login" %>
  <% end %>
  <br><br>
<%= link_to "BACK", :back %><br>
<%= link_to "HOME", root_path %>
</div>
