<!DOCTYPE html>
<html>
<head>
  <title>MememeApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul class="nav_bar">
    <% if current_user %>
      <li class="nav_link">hey, <%= current_user.username %></li>
      <li class="nav_link"><%= link_to 'logout', logout_path, method: :delete %></li>
    <% else %>
      <li class="nav_link"><%= link_to 'LOGIN', new_session_path %></li>
      <li class="nav_link"><%= link_to 'SIGN UP', new_user_path %></li>
    <% end %><br>
    <li class="nav_butt"><%= link_to 'HOME', root_path %></li><br>
    <li class="nav_butt"><%= link_to 'BACK', :back %></li>
  </ul>

<%= yield %>

</body>
</html>
