<h1>Welcome to <%= @category.name %> Images</h1>
<ul>
  <% @category.images.each do |image| %>
    <li>
      <%= link_to image.title, category_image_path(@category.id, image) %>
      <img src= "<%= image.photo_url %>" alt="<%= image.title %>" />
    </li>
    <% end %>
</ul>

<h3><%= link_to 'Post a Potential Meme', new_category_image_path %></h3>
