<div class="image_index">
<h1>Welcome to <%= @category.name %> Images</h1>
<ul>
  <% @category.images.each do |image| %>
    <li>
      <h4><%= link_to image.title, category_image_path(@category.id, image) %></h4>
      <img src= "<%= image.photo_url %>" alt="<%= image.title %>" />
    </li>
    <% end %>
</ul>

<h3><%= link_to 'Post a Potential Meme', new_category_image_path %></h3>
</div>
<%= link_to 'Back to Categories', categories_path %><br>

<%= link_to 'HOME', root_path %>
