<h1> <%= @image.title %> </h1>
<h3><%= @category.name %></h3><br>
  <img src= "<%= @image.photo_url %>" alt="<%= @image.title %>" />
<br>
<%= link_to 'Delete Image', category_image_path(@category.id, @image.id), method: :delete %><br>
<%= link_to 'Back to Categories', categories_path %><br>
<%= link_to 'HOME', root_path %>
