<h1>Sign Up!</h1>
<h2>Take memeME for all it's worth</h2>
<%= form_for(@user) do |f| %>
<p>
  UserName: <%= f.text_field :username %>
</p><br>
<p>
  Password: <%= f.password_field :password %>
</p><br>
<p>
  Password Confirm: <%= f.password_field :password_confirmation %>
</p><br>
<%= f.submit "Fuck Yea!" %>
<% end %>
